body {
  color: white;
  font-family: "Noto Serif", serif;
  background-color: teal;
}

h1 {
  font-size: 4rem;
}

.my-label {
  color: white;
  background-color: rgba(0, 128, 128, 0);
  border: 0px;
}
